body{
    background-color: blue;
}

h1{
    color: greenyellow;
    font-family: impact;
    background: red;
}

p{
    color:brown;
    font-family: verdana;
    background-color: yellow;
    font-size: 40px;
}